@import "./function.scss";

.input_container {
  @include fle($jc: space-between, $ai: center, $p: relative,
    $mgB: 20px, $w: 100%);
  flex-wrap: wrap;

  .input {
    flex-grow: 1;
    height: 45px;
    padding: 0px 20px;
    color: $wt;
    border: 1px solid $main;
    border-radius: 25px;
    font-weight: 500;
    font-size: 16px;
  }

  .arrow {
    @include abs($r: 0, $w: 45px, $h: 45px,
      $bg: $main, $ta: center, $borRa: 25px,
      $c: $wt );
  }
}