.btn_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 420px;
  gap: 10px;
}

.btn {
  cursor: pointer;
  border-radius: 20px;
  border: none;
  padding: 10px 0px;
  text-align: center;
  width: 100%;
  background: white;
  cursor: pointer;
}