.social_login_btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 320px;
  gap: 10px;
}

.social_login_btn {
  cursor: pointer;
  border-radius: 20px;
  border: none;
  padding: 10px 0px;
  font-size: 12px;
  text-align: center;
  width: 150px;
  background: white;
  cursor: pointer;
}