.nweet {
  margin-bottom: 20px;
  background-color: white;
  width: 100%;
  max-width: 420px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.8);
}

.nweet:hover .nweet_actions {
  opacity: 1;
}

.nweet_edit input[type=submit] {
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 5px;
}

.nweet h4 {
  font-size: 16px;
  padding-right: 10px;
}

.nweet img {
  display: block;
  border-radius: 10px;
  width: 100%;
  margin-top: 20px;
}

.nweet_actions {
  position: absolute;
  right: 10px;
  top: 18px;
  opacity: 0;
  transition: opacity .3s ease;
}

/* .nweet_actions span {
  cursor: pointer;
}

.nweet_actions span:first-child {
  margin-right: 10px;
} */