.nweet {
  margin-bottom: 20px;
  background-color: white;
  width: 100%;
  max-width: 320px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.8);
}

.mg_b35 {
  margin-bottom: 35px;
}

.nweet_edit input[type=submit] {
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 5px;
}

.nweet h4 {
  font-size: 14px;
}

.nweet img {
  right: -10px;
  top: 20px;
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

.nweet_actions {
  position: absolute;
  right: 10px;
  top: 10px;
}

/* .nweet_actions span {
  cursor: pointer;
}

.nweet_actions span:first-child {
  margin-right: 10px;
} */