@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

* {
  box-sizing: border-box;
}

input {
  all: unset;
  box-sizing: border-box;
  appearance: none;
}

body {
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: white;
}

button {
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

form {
  width: 100%;
}

.mg_top {
  margin-top: 30px;
}

.wrapper {
  max-width: 920px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.nweet-input::placeholder {
  color: white;
  opacity: 0.9;
}

.container {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
}

.nav_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 10px;
}

.nav_icon {
  color: #04AAFF;
  font-size: 2em;
}

.nav_icon.logo_icon {
  margin-bottom: 30px;
}

.profile_wrap {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  gap: 10px;
}

.form_input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
  background-color: white;
  color: black;
}

.form_btn {
  cursor: pointer;
  width: 100%;
  padding: 7px 20px;
  text-align: center;
  color: white;
  border-radius: 20px;
  background-color: #04aaff;
  cursor: pointer;
}

.not_view {
  opacity: 0;
}

.form_btn.last_btn {
  margin-top: 10px;
}

.cancel_btn {
  cursor: pointer;
  background-color: tomato;
}

/* Profile Page */

.profile_form {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.logout {
  margin: 50px 0;
}

/* Nwitter Factory */

.factory_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.factory_input_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.factory_input {
  flex-grow: 1;
  height: 40px;
  padding: 0px 20px;
  color: white;
  border: 1px solid #04aaff;
  border-radius: 20px;
  font-weight: 500;
  font-size: 12px;
}

.factory_arrow {
  position: absolute;
  right: 0;
  background-color: #04aaff;
  height: 40px;
  width: 40px;
  padding: 10px 0px;
  text-align: center;
  border-radius: 20px;
  color: white;
}

.factory_label {
  color: #04aaff;
  cursor: pointer;
}

.factory_label span {
  margin-right: 10px;
  font-size: 12px;
}

.factory_attachment {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.factory_attachment img {
  height: 80px;
  width: 80px;
  border-radius: 40px;
}

.factory_form_clear {
  color: #04aaff;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}

.factory_form_clear span {
  margin-right: 10px;
  font-size: 12px;
}

/* Nweet */

.nweet_edit .form_btn {
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 5px;
}

.nweet {
  margin-bottom: 20px;
  background-color: white;
  width: 100%;
  max-width: 320px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.8);
}

.nweet h4 {
  font-size: 14px;
}

.nweet img {
  right: -10px;
  top: 20px;
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

.nweet_actions {
  position: absolute;
  right: 10px;
  top: 10px;
}

.nweet_actions span {
  cursor: pointer;
}

.nweet_actions span:first-child {
  margin-right: 10px;
}

/* Auth */

.login_wrapper {
  align-items: center;
}

.auth_btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 320px;
  gap: 10px;
}

.auth_btn {
  cursor: pointer;
  border-radius: 20px;
  border: none;
  padding: 10px 0px;
  font-size: 12px;
  text-align: center;
  width: 150px;
  background: white;
  cursor: pointer;
}

/* AuthForm */

.auth_input {
  max-width: 320px;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  font-size: 12px;
  color: black;
}

.auth_submit {
  text-align: center;
  background: #04aaff;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

.auth_error {
  color: tomato;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}

.auth_switch {
  color: #04aaff;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 50px;
  display: block;
  font-size: 12px;
  text-decoration: underline;
}