@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

* {
  box-sizing: border-box;
}

input {
  all: unset;
  box-sizing: border-box;
  appearance: none;
}

body {
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: white;
}

button {
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

form {
  width: 100%;
}

.mg_top {
  margin-top: 10px;
}

.wrapper {
  max-width: 890px;
  width: 100%;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.nweet_icon {
  color: #04AAFF;
  font-size: 2em;
}

.nav_wrap {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.profile {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.nweet-input::placeholder {
  color: white;
  opacity: 0.9;
}

.container {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
}

/* Nwitter Factory */

.factory_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.factory_input_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.factory_input {
  flex-grow: 1;
  height: 40px;
  padding: 0px 20px;
  color: white;
  border: 1px solid #04aaff;
  border-radius: 20px;
  font-weight: 500;
  font-size: 12px;
}

.factory_input_arrow {
  position: absolute;
  right: 0;
  background-color: #04aaff;
  height: 40px;
  width: 40px;
  padding: 10px 0px;
  text-align: center;
  border-radius: 20px;
  color: white;
}

.factory_input_label {
  color: #04aaff;
  cursor: pointer;
}

.factory_input_label span {
  margin-right: 10px;
  font-size: 12px;
}

.factory_form_attachment {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.factory_form_attachment img {
  height: 80px;
  width: 80px;
  border-radius: 40px;
}

.factory_form_clear {
  color: #04aaff;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}

.factory_form_clear span {
  margin-right: 10px;
  font-size: 12px;
}

footer {
  margin: 30px 0;
}