@import "./function.scss";

* {
  box-sizing: border-box;
}

input {
  all: unset;
  box-sizing: border-box;
  appearance: none;
  font-size: 16px;
}

body {
  background-color: $bk;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: $wt;
}

button {
  background-color: $wt;
  color: $bk;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

form {
  width: 100%;
}

.wrapper {
  @include fle ($w: 100%, $h: 100vh, $mg: 0 auto,
    $jc: center, $ai: center, $fd: column);

  .contents_wrapper {
    @include fle ($w: 100%, $pd: 20px,
      $ai: center, $fd: column);
    overflow-y: auto;

    .container {
      @include fle ($w: 100%, $fd: column);
      max-width: 420px;
    }

    footer {
      margin: 30px 0;
    }
  }
}



.nweet-input::placeholder {
  color: $wt;
  opacity: 0.9;
}

.form_input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid $bk;
  text-align: center;
  background-color: $wt;
  color: $bk;
}

.form_btn {
  cursor: pointer;
  width: 100%;
  padding: 11px 20px;
  text-align: center;
  color: $wt;
  border-radius: 20px;
  background-color: $main;
  cursor: pointer;
}

.form_btn.last_btn {
  margin-top: 10px;
}

.cancel_btn {
  cursor: pointer;
  background-color: $sub;
}