.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.input {
  flex-grow: 1;
  height: 45px;
  padding: 0px 20px;
  color: white;
  border: 1px solid #04aaff;
  border-radius: 25px;
  font-weight: 500;
  font-size: 16px;
}

.arrow {
  position: absolute;
  right: 0;
  background-color: #04aaff;
  height: 45px;
  width: 45px;
  padding: 10px 0px;
  text-align: center;
  border-radius: 25px;
  color: white;
}

.label {
  color: #04aaff;
  cursor: pointer;
}

.label span {
  margin-right: 10px;
  font-size: 16px;
}

.attachment {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.attachment img {
  height: 80px;
  width: 80px;
  border-radius: 40px;
  margin-top: 20px;
}

.form_clear {
  color: #04aaff;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}

.form_clear span {
  margin-right: 10px;
  font-size: 16px;
}

.not_view {
  opacity: 0;
}